name: Changesets
on:
  ## Allow triggering this workflow manually via GitHub CLI/web
  workflow_dispatch:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch Changesets To Operations
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # pin@v4.0.1
        with:
          repository: MystenLabs/sui-operations
          token: ${{ secrets.CHANGESETS_DEPLOY_DISPATCH }}
          event-type: changesets
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

  version:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # pin@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: checkout code repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # Pin v4.1.1
        with:
          token: ${{ steps.generate_token.outputs.token }}
          fetch-depth: 0
      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # pin@v3.0.0
        with:
          version: 9.1.1
      - name: Install Nodejs
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # pin@v4.0.2
        with:
          node-version: '18'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Create Release Pull Request
        uses: changesets/action@f13b1baaa620fde937751f5d2c3572b9da32af23 # pin@v1
        with:
          # Generates src/version.ts file using genVersion
          # https://github.com/changesets/action#with-version-script
          version: pnpm changeset-version
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
