name: GitHub Issues Monitor

on:
  issues:
    types: [opened]

jobs: 
  notify-issues:
    name: Dispatch workflow to notify slack channel on issues
    if: github.event_name == 'issues'
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch github-issues-external-prs-monitor in MystenLabs/sui-operations
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # pin@v4.0.1
        with: 
          repository: MystenLabs/sui-operations
          token: ${{ secrets.DOCKER_BINARY_BUILDS_DISPATCH }}
          event-type: github-issues-external-prs-monitor
          client-payload: '{"author": "${{github.event.issue.user.login}}", "event_name": "issue", "issue_number": "${{github.event.issue.number}}"}'

